.event > :nth-child(1) {
    margin: 5em 0 0;
}

.upcoming-card {
    text-align: center;
    margin: 20px;
}

.upcoming-card .card-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.7rem;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-text {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin: 0 auto;
}

.upcoming-card .card-footer {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.05rem;
}